{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<section id="table_wrapper" class="py-5 head-article shadow">
    
    <div class="container">
        <div>
            {% if user.is_authenticated %}
                <p class="display-4">Hello, {{ user.username }}</p>
                <a href="{% url 'mypage:logout' %}">Logout</a>
            {% endif %}
            <h2 id="countingStar" style="vertical-align:middle;">
                <i class="material-icons" style="vertical-align:middle;font-size:50px">grade</i>Favourite Books: <span id="fav-counter">{{ request.session.length }}</span>
            </h2>
        </div>
    </div>
    
    <div class="container mb-3 overflow-hide">
        <input class="form-control" id="myinput" type="text" name="search_input">
        <button id="button-input" class="btn btn-outline-warning" onclick="getJSONData()" style="width:15%;" name="action">input
            <i class="va-middle material-icons right">done</i>
        </button>
    </div>
    
    <div class = "table-book">
        <table class="container table-info" id="book_table">
            <thead>
                <tr>
                    <th><h1>Thumbnail</h1></th>
                    <th><h1>Title</h1></th>
                    <th><h1>Published Date</h1></th>
                    <th><h1>Add to Favourite</h1></th>
                </tr>
            </thead>
            <tbody id="maBody"></tbody>
        </table>
    </div>
</section>
{% endblock %}