{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<section class="pt-41 bg-theme">
    <div class='login text-white'>
        <h2>Register an Account</h2>
        <form class="form" method="post" action="/mypage:add_profile/">
            {% csrf_token %}
            <fieldset class="form-fieldset">
                {{ form.username }} <span id="e-username" class="cl-danger"></span>
            </fieldset>
            <fieldset id="fl-email" class="form-fieldset">
                {{ form.email }} <span id="e-email" class="cl-danger"></span>
            </fieldset>
            <fieldset class="form-fieldset">
                {{ form.password }} <span id="e-password" class="cl-danger"></span>
            </fieldset>
            <fieldset id="fl-confirm-password" class="form-fieldset">
                {{ form.confirm_password }} <span id="e-confirm-password" class="cl-danger"></span>
            </fieldset>
            <button id="btn-form" class="btn btn-form bg-theme-dark" type="submit" name="action" disabled>Create Account</button>
        </form>
        
        <p><strong>-- OR --</strong></p>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
    </div>
</section>

<script>
    $(".form-input").change(function () {
        var email = $('#form-email').val();
        var username = $('#form-username').val();
        var password = $('#form-password').val();
        var confirm_password = $('#form-confirm-password').val();
    
        $.ajax({
            url: '/ajax/validate_form/',
            data: {
                'username': username,
                'email': email,
                'password': password,
                'confirm_password': confirm_password
            },

            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    $('#e-email').text("A user with this email already exists");
                    $('#fl-email').css("padding-bottom","0");
                } else {
                    $('#e-email').text("");
                    $('#fl-email').css("padding-bottom","24px");
                }
                
                if (data.is_equal) {
                    $('#e-confirm-password').text("");
                    $('#fl-confirm-password').css("padding-bottom","24px");
                } else {
                    $('#e-confirm-password').text("Password is not the same");
                    $('#fl-confirm-password').css("padding-bottom","0");
                }
                
                if(data.is_submitable) {
                    $('#btn-form').prop('disabled', false);
                    $('#btn-form').addClass('animated');
                } else {
                    $('#btn-form').prop('disabled', true);
                    $('#btn-form').removeClass('animated');
                }
                console.log(data.is_submitable);
            }
        });
    });
</script>
{% endblock %}